.fixed_position_div {
  position: sticky-fixed;
  top: 0;
  right: 0;
}

.cardetail_button_container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 0%;
  right: 0;
  z-index: 0;
  background-color: #fff;
}

.cardetail_phone_container {
  position: fixed;
  bottom: 10%;
  left: 2%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  width: 70px;
}

.DetaileProductCustomrWeb-title {
  @include all_fonts_styles(34px, $fw-bold, UbuntuRegular, #333);
}

.car_item_p__price_text {
  color: #de1a1a;
}

.detail_item {
  border: 1px solid #00000017;
  height: 150px;
}

.image-gallery {
  width: 100%;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 50px !important;
  width: 30px !important;
  top: 10rem !important;
}

.StandardOptions-title {
  color: $black-color;
  text-align: center;
  font-size: 30px;
  position: relative;
}

.StandardOptions-title::before {
  content: "";
  display: block;
  width: 130px;
  height: 5px;
  background: $black-color;
  left: 0;
  top: 50%;
}

.card {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  color: #000;
  position: relative;
  z-index: 2;
  border: none !important;
}

.card-header {
  background-color: #f4f4f4 !important;
  color: #2a2b2b;
}

.card-body {
  color: #2a2b2b !important;
}

.btn-icon-standard-option {
  color: #2a2b2b;
}

.active_vehicle_option_accordian-open {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
  color: #000;
}

.detail_options-movment {
  @include tablet {
    & {
      transform: translateX(60px);
    }
  }
}

.detail_standard_bg {
  // background-image: url("/images/vehicle-detail/Ellipse64.png");
  // background-position: center;
  // background-repeat: no-repeat;
  border: 1px solid #999;
}

.vehicle__option__background--div {
  position: relative;
  z-index: 0;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.detail-title-bg {
  background-repeat: no-repeat;
  background-position: bottom;
  @include all_fonts_styles($fs-xxxmd, 500, inherit, $white-color);
}
